header.header
    .header__coloumn
        i.fab.fa-youtube
    .header__coloumn
        ul
            li
                a(href ="#") Join
            
            li
                a(href = "#") Log In